body {
  background-color: #F9A03F;
}

#navbarHeader {
  background-color: #2B2D42;
}

#projects {
  background-color: #2B2D42;
  padding-top: 20px;
}

.jumbotron {
  background-color: white;
}

span {
  color: #F9A03F;
}

#profPic {
  height: 180px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #F9A03F;
}

img.card-img-top {
  width: 100%;
  height: 225px;
  display: inline-block;
}

img.card-img-top:hover {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}
