body {
  background-color: #2274A5;
}

.card-img-top {
  height: 200px;
}

.card-img-top:hover {
  filter: grayscale();
}

.btn {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  background-color:  #2274A5;
  font-size: 16px;
  font-weight: 300px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1px 20px;
  margin: 10 0;
  border-radius: 20px;
  box-shadow: 0 6px #214965;
}

.btn:hover {
  background-color: #343a40;
  transform-origin: top left;
  transform: scale(1) translateY(-10px);
  opacity: 0.5;
}

.btn:active {
box-shadow: none;
top: 6px;
}

.animated {
  transition-property: opacity, background-color, transform;
  transition-duration: 0.7s, 0.3s, 0.3s;
  transition-delay: 0.1s, 0.1s, 0s;
  transition-timing-function: ease-out;
}

div.item:hover img {
  filter: grayscale(100%);
}

div.item * {
  transition: transform 0.5s ease-in-out;
}

div.item:hover i {
  transform: translate(-50%, -50) scale(1);
}

div.item i {
  transform: translate(-50%, -50) scale(0);
}
